// All common themes
$common-themes: (
        light: (
                color-background: #ffffff,
                navbar-background: rgba(255, 255, 255, 0.05),
                navbar-item-background-hover: rgba(255, 255, 255, 0.2),
                navbar-mobile-background: #1b2f4f,
                input-background: #ffffff,
                input-border: 1px solid #c4c4c4,
                input-shadow:  0 6px 10px 0 rgba(0, 0, 0 , .1),
                select-background: rgba(255, 255, 255, 0.2),
                text-color: #cfcfcf,
                select-text-color: #f5f5f5
        ),
        dark: (
                color-background: #291B34,
                navbar-background: rgb(38, 38, 38),
                navbar-item-background-hover: #2d2d2d,
                navbar-mobile-background: #181818cc,
                input-background: rgba(78, 78, 78, 0.2),
                input-border: none,
                select-background: rgb(45, 45, 45),
                select-options-background: rgb(45, 45, 45),
                text-color: #cfcfcf,
                text-disabled-color: #575757,
                select-text-color: #cfcfcf
        )
);

// Themes for components
$components-themes: (

);

// Themes for pages
$sort-page-themes: (
        light: (
                sort-page-buttons-background: rgb(0, 0, 0),
                sort-page-buttons-disabled-background: rgba(255, 255, 255, 0.1),
        ),
        dark: (
                sort-page-buttons-background: rgb(45, 45, 45),
                sort-page-buttons-disabled-background: rgba(45, 45, 45, 0.1),
        )
);

@mixin theme-aware($key, $color) {
  // Search for common themes
  @include theme-aware-map($key, $color, $common-themes);

  // Search for components themes
  @include theme-aware-map($key, $color, $components-themes);

  // Search for pages themes
  @include theme-aware-map($key, $color, $sort-page-themes);
}

// Apply style based on provided theme and registered theme maps
@mixin theme-aware-map($key, $color, $theme-map) {
  @each $theme-name, $theme-color in $theme-map {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($theme-map, $theme-name), $color)
    }
  }
}