// Width for specific min screen width
@mixin media_font_size($min-screen-width, $size) {
  @media (min-width: $min-screen-width) {
    font-size: $size;
  }
}

// Width for specific min screen width
@mixin media_width($min-screen-width, $width) {
  @media (min-width: $min-screen-width) {
    width: $width;
  }
}

// Height for specific min screen width
@mixin media_height($min-screen-width, $height) {
  @media (min-width: $min-screen-width) {
    height: $height;
  }
}

// Padding for specific min screen width
@mixin media_padding($min-screen-width, $padding) {
  @media (min-width: $min-screen-width) {
    padding: $padding;
  }
}

// Margin left for specific min screen width
@mixin media_ml($min-screen-width, $margin-left) {
  @media (min-width: $min-screen-width) {
    margin-left: $margin-left;
  }
}


// Any style for specific min screen width
@mixin media_style($min-screen-width) {
  @media (min-width: $min-screen-width) {
    @content;
  }
}

@mixin responsive_font_size($xs, $sm, $md, $lg, $xl) {
  @include media_font_size(0px, $xs);
  @include media_font_size(600px, $sm);
  @include media_font_size(960px, $md);
  @include media_font_size(1280px, $lg);
  @include media_font_size(1920px, $xl);
}

@mixin responsive_width($xs, $sm, $md, $lg, $xl) {
  @include media_width(0px, $xs);
  @include media_width(600px, $sm);
  @include media_width(960px, $md);
  @include media_width(1280px, $lg);
  @include media_width(1920px, $xl);
}


@mixin responsive_height($xs, $sm, $md, $lg, $xl) {
  @include media_height(0px, $xs);
  @include media_height(600px, $sm);
  @include media_height(960px, $md);
  @include media_height(1280px, $lg);
  @include media_height(1920px, $xl);
}


@mixin responsive_padding($xs, $sm, $md, $lg, $xl) {
  @include media_padding(0px, $xs);
  @include media_padding(600px, $sm);
  @include media_padding(960px, $md);
  @include media_padding(1280px, $lg);
  @include media_padding(1920px, $xl);
}

@mixin responsive_ml($xs, $sm, $md, $lg, $xl) {
  @include media_ml(0px, $xs);
  @include media_ml(600px, $sm);
  @include media_ml(960px, $md);
  @include media_ml(1280px, $lg);
  @include media_ml(1920px, $xl);
}