@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');


.registrationCompleteDialogContentGrid {
  width: 100%;
  background: white;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  padding: 10px;

  .line {
    width: 100%;
  }

  .iconSection {
    text-align: center;
    margin-top: 20px;
  }

  .emailSentSection {

    margin-top: 20px;

    .emailSent {
      text-align: center;
      font-size: 1.2em;
      color: #707070;
      margin: 0;
    }
  }


  .emailSection {
    text-align: center;

    .emailValue {

    }
  }

  .instructionSection {
    text-align: center;
  }

  .returnToHomepageSection {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;

    .returnToHomepageButton {
      background: #0088FF;
      border-radius: 5px;

      &:hover {
        background: #0067cb;
      }
    }
  }

  .resendEmailSection {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;


    .resendEmailLink span {
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }

  }
}