.chart {
  transform: scaleY(-1);
  opacity: 0;
  animation: fadein 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.field {
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to   {
    opacity: 1;
  }
}