$anim_time: 1s;

.visible {
  -webkit-animation: fadein $anim_time; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein $anim_time; /* Firefox < 16 */
  -ms-animation: fadein $anim_time; /* Internet Explorer */
  -o-animation: fadein $anim_time; /* Opera < 12.1 */
  animation: fadein $anim_time;
  width: 100%;
  height: 100%;
}

.not_visible {
  width: 100%;
  height: 100%;
  opacity: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

canvas {
  width: 100%;
  height: 100%;
}