@import '../common/theme';

.button {
  width: 100px;
  height: 30px;
  @include theme-aware('color', 'text-color');
  background: #373737;
  font-size: 16px;
  border: none;

  &:active {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background: #515151;
  }

  &:focus {
    outline: none;
  }

  .content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

