
.confirmDialog {
  width: 100px;

  .MuiPaper-root {
    background: none;
    padding: 0;
    width: 600px;
  }
}

.errorDialog {
  .MuiPaper-root {
    background: none;
    padding: 0;
    width: 600px;
  }
}

.MuiDialogTitle-root {
  padding: 30px !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #212121;
  color: #9B9B9B;
}

.dialogContent {
  padding: 30px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  background: #212121;

  .dialogContentText {
    color: #9B9B9B;
  }
}

.dialogActions {
  background: #212121;
  color: #9B9B9B;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dialogButton {
  border-radius: 5px;
}

.buttonRed {
  background: #860000;
  color: #9B9B9B;
  width: 130px;
  height: 40px;

  &:hover {
    background: lighten(#860000, 5%);
  }
}

.buttonBlack {
  background: #151515;
  color: #9B9B9B;
  width: 130px;
  height: 40px;

  &:hover {
    background: darken(#151515, 5%);
  }
}

.buttonBlue {
  background: #3f6b81;
  color: #9B9B9B;
  width: 130px;
  height: 40px;

  &:hover {
    background: darken(#151515, 5%);
  }
}

