.emailSentPopup {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .popup {
    border-radius: 6px;
    background: #323232;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px;
    box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, .4);

    @media (min-width: 600px) {
      width: 380px;
      position: relative;
    }

    @media (max-width: 600px) {
      width: 100%;
    }


    .imageWrapper {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #c1c1c1;
      font-size: 20px;
    }

    .description {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #c1c1c1;
      font-size: 15px;
    }

    .buttonGroup {
      height: 50px;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        text-decoration: none;
        white-space: nowrap;
        color: white;
        font-size: 16px;
        background: #404040;
        width: 100%;
        border-radius: 8px;
        height: 100%;

        &:hover {
          background: #4562d4;
        }
      }
    }
  }
}