.icon {
  display: flex;
  width: 25px;
  height: 30px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

i.fa {
  font-size: 14px;
  color: white;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}