@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';

.inputWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .formName {
    font-size: 14px;
    color: #6a6c7c;
    margin-top: 5px;
  }

  .input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

    .title {
      width: 150px;
      @include theme-aware('color', 'text-color');
    }

    .inputField {
      width: 100%;
      box-sizing: border-box;
      background: #fff;
      height: 50px;
      font-size: 16px;
      outline: 0;
      color: #9B9B9B;
      border-radius: 3px;
      padding-left: 12px;
      @include theme-aware('border', 'input-border');
      @include theme-aware('background', 'input-background');
      caret-color: #535353;
      font-family: inherit;
    }


    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 0.15; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: white;
      opacity: 0.15; /* Firefox */
    }

    input:focus::placeholder {
      color: transparent;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: white;
      opacity: 0.15; /* Firefox */
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      font-size: 16px;
      color: #ffffff;
      font-family: inherit;
      -webkit-text-fill-color: inherit;
      -webkit-transition-delay: 9999s;
      -webkit-box-shadow: 0 0 0 10px #3b3bb4 inset !important;
    }

    input:-webkit-autofill::first-line {
      font-size: 16px;
      outline: 0;
      font-family: "Whitney Medium", sans-serif;
      color: #ffffff;
    }
  }

  .input.noError {
    border: 1px solid #c1c1c1;
  }

  .input.error {
    border: 2px solid rgb(186, 47, 47);
  }
}