@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';

.input {
  box-sizing: border-box;
  background: #fff;
  width: 100px;
  height: 50px;
  margin: 0;
  color: #a3a3a3;
  font: 1rem "PT Sans", sans-serif;
  outline: 0;
  border-radius: 3px;
  padding-left: 12px;
  @include theme-aware('border', 'input-border');
  @include theme-aware('background', 'input-background');
}