@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';
@import '../common/mixins';

$font-color: rgba(238, 236, 235, 1);

$stop-width: 800px;

.logInButton {
  background: #131313;
  margin: 10px;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;

  &:hover {
    background: lighten(#131313, 5%);
  }
}

.registerButton {
  background: #131313;
  margin: 10px;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;

  &:hover {
    background: lighten(#131313, 10%);
  }
}

.logoutButton {
  background: #000000;
  margin: 10px;
  height: 35px;
  border-radius: 20px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  .content {
    .text {
      font-size: 15px;
      font-family: inherit;
    }
  }

  &:hover {
    background: lighten(#000000, 10%);
  }
}




.navbar {
  @include theme-aware('background', 'navbar-background');

  position: absolute;
  display: flex;
  align-items: center;
  min-height: $navbar-height;
  height: $navbar-height;
  width: 100%;
  z-index: 1;

  .main-buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    height: $navbar-height;
    box-sizing: border-box;

    .home {
      color: white;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      font-size: 20px;

      &:hover {
        background: none;
      }
    }
  }

  @media (min-width: $stop-width) {
    flex-direction: row;
    display: flex;

    .main-buttons {
      .hamburger {
        display: none;
      }
    }

    .navbar-group {
      width: 100%;
      height: 100%;
      display: flex;

      .loadingIndicator {
        background-color: transparent;
        border: 5px solid rgba(0, 255, 63, 0.6);
        opacity: .9;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-radius: 100px;
        width: 22px;
        height: 22px;
        margin: 0 20px 0 auto;
        position: relative;
        -moz-animation: spinoffPulse 1s infinite linear;
        -webkit-animation: spinoffPulse 1s infinite linear;
      }

      .right-aligned {
        height: 100%;
        display: flex;
        margin-left: auto;

        .navbar-items {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .email {
            color: #b3b3b3;
          }

          .navbarButtons {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
          }
        }
      }

      .navbar-items {
        display: flex;
        flex-direction: row;
      }
    }



    .theme-switch {
      display: none;
      margin-left: auto;
    }
  }

  @media (max-width: $stop-width) {
    flex-direction: column;

    .main-buttons {
      .hamburger {
        @include disable_mobile_tap_color();
        height: 100%;
        cursor: pointer;
        background: none;
        width: 50px;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
      }
    }
    .navbar-group {
      @include theme-aware('background', 'navbar-mobile-background');
      width: 50%;
      height: calc(100% - #{$navbar-height});
      z-index: 100;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: $navbar-height;
      box-sizing: border-box;

      .right-aligned {
        display: flex;
        margin-top: auto;

        .navbar-items {
          display: flex;
          flex-direction: row;
        }
      }

      .navbar-items {
        width: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;

        .navbar-item {
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: left;
          margin-left: 0;
          padding-left: 10px;
        }

        .registerButton {
          border: 1px solid #ffffff55;
          margin: 10px;
          height: 35px;
          border-radius: 4px;
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .navbar-group.opened-false {
      display: none;
    }

    .navbar-group.opened-true {
      transform: translate(0, 0);
      display: flex;
    }

    .theme-switch {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      height: $navbar-height;
    }
  }
}