@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';

$font-color: rgba(238, 236, 235, 1);

$stop-width: 800px;

.navbar {
  @include theme-aware('background', 'navbar-background');
  min-height: $navbar-height;
  flex: 0 1 $navbar-height;
  width: 100%;

  .main-buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;

    .homeIcon {
      color: white;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;

      .navbar-item-text {
        font-size: 20px;
      }
      &:hover {
        background: none;
      }
    }
  }

  @media (min-width: $stop-width) {
    flex-direction: row;
    display: flex;

    .main-buttons {
      .hamburger {
        display: none;
      }
    }

    .navbar-group {
      height: 100%;
      display: flex;

      .navbar-items {
        display: flex;
        flex-direction: row;
      }
    }

    .theme-switch {
      display: none;
      margin-left: auto;
    }
  }

  @media (max-width: $stop-width) {
    flex-direction: column;

    .main-buttons {
      .hamburger {
        height: 100%;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        background: none;
        width: 50px;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
      }
    }


    .navbar-group {
      width: 50%;
      height: calc(100% - #{$navbar-height});
      z-index: 100;
      display: none;
      @include theme-aware('background', 'navbar-mobile-background');
      position: absolute;
      top: $navbar-height;
      box-sizing: border-box;

      .navbar-items {
        width: 100%;

        z-index: 2;
        display: flex;
        flex-direction: column;

        .navbar-item {
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: left;
          margin-left: 0;
          padding-left: 10px;
        }
      }
    }
    .navbar-group.opened-false {
      display: none;
    }

    .navbar-group.opened-true {
      transform: translate(0, 0);
      display: flex;
    }

    .theme-switch {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      height: $navbar-height;
    }
  }
}