@import '../common/responsive';
@import '../common/constants';
@import '../common/mixins';
@import '../common/theme';
@import '../common/fonts';
@import "../common/animations/_mixins";
@import "../common/animations/fade_in";

.select-control {

  @media (max-height: 400px) {
    width: 100%;
  }

  width: 250px;
  height: 50px;
  margin: 0;

  .select-control-button {
    @include theme-aware('background', 'select-background');
    @include disable_selection();
    @include disable_mobile_tap_color();

    height: 100%;
    margin: 0;
    cursor: pointer;
    display: flex;
    border-radius: 4px;

    &:hover {
      filter: brightness(120%);
    }

    .selected-value {
      margin-left: 10px;
      margin-right: 10px;
      @include theme-aware('color', 'select-text-color');
      font-size: 18px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      span {
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        left: 20px;
      }
    }

    .arrowDown {
      max-width: 50px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      @include theme-aware('color', 'select-text-color');
    }
  }

  .options {
    box-sizing: border-box;
    position: relative;
    left: 0;
    top: 10px;
    max-height: 400px;
    overflow: scroll;
    margin: 0 auto;
    border-radius: 5px;

    .option, .label {
      color: white;
      font-size: 16px;
    }

    .option {
      @include theme-aware('background', 'select-options-background');
      @include disable_selection();

      position: relative;
      line-height: 50px;
      transition: 0.1s ease all;
      z-index: 2;
      height: 50px;

      &:hover {
        filter: brightness(120%);
        cursor: pointer;
      }

      i {
        position: absolute;
        left: 14px;
        padding: 0;
        display: none;
      }
    }

    .option:hover .label {
      color: #fff;
      cursor: pointer;
    }

    .label {
      padding: 0;
      margin-left: 27px;
    }

    .label {
      transition: 0.1s ease all;
    }
  }

  ~ .options .label {
    display: block;
    padding: 12px 14px;
  }

  .options .option i {
    display: block;
    padding: 12px 0;
  }

  .options::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  &.disabled {
    .select-control-button {
      background: rgb(31, 31, 31);
      cursor: default;

      &:hover {
        filter: none;
      }

      .selected-value {
        color: #575757;
      }

      .arrowDown {
        color: #575757;
      }
    }
  }
}