.sliderWithInput {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;

  &.disabled {
    .title {
      color: #575757;
    }

    .description {
      color: #575757;
    }

    .sliderAndInput {
      .valueInput {
        .inputField {
          color: #575757;
          background: #282828;
        }
      }
    }
  }

  .title {
    margin-right: 10px;
  }

  .description {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 11pt;
    color: #8b8b8b;
    max-width: 400px;
  }

  .sliderAndInput {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    .rc-slider {
      min-width: 200px;
      width: calc(100% - 120px);
      flex: auto 1 0;
    }

    .rc-slider-disabled {
      background: none;

      .rc-slider-rail  {
          background: #2a2a2a;
      }
    }

    .slider {
      flex: 0 1 auto;
    }

    .valueInput {
      margin-left: 20px;
      width: 100px;

      .inputField {
        background: #303030;
        color: white;
      }

      @media (max-width: 400px) {
        flex: 1;

        input {
          width: 100%;
        }
      }
    }
  }
}