$loader-colors: dodgerblue, mediumspringgreen, crimson, peachpuff, chocolate, pink;
$loader-dash: 63;
$loader-duration: length($loader-colors) * 1s;
$loader-duration-alt: $loader-duration / length($loader-colors);
$loader-keyframe: 1 / (length($loader-colors) * 2) * 100;


.spinner {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .text {
    margin-right: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: white;
  }

  .loader {
    animation: loader-turn $loader-duration-alt linear infinite;
    max-width: 30px;
    width: 100%;
    @keyframes loader-turn {
      50% {
        transform: rotate(180deg)
      }
      100% {
        transform: rotate(720deg)
      }
    }
  }

  .loader-visible {
    visibility: visible;
  }

  .loader-hidden {
    visibility: hidden;
  }

  .loader__value {
    animation: loader-stroke $loader-duration linear infinite;
    fill: none;
    stroke-dasharray: $loader-dash;
    stroke-dashoffset: $loader-dash;
    stroke-linecap: round;
    stroke-width: 4;

    @for $i from 1 through length($loader-colors) {
      &:nth-child(#{$i}) {
        stroke: nth($loader-colors, $i);

        @if $i > 1 {
          animation-delay: ($i - 1) * $loader-duration-alt;
        }
      }
    }

    @keyframes loader-stroke {
      #{$loader-keyframe * 1%} {
        stroke-dashoffset: 0
      }
      #{$loader-keyframe * 2%}, 100% {
        stroke-dashoffset: $loader-dash
      }
    }
  }
}
