.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  .react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
    margin: 0;
  }

  .react-switch-label {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 47px;
    height: 19px;
    background: grey;
    border-radius: 50px;
    position: relative;
  }

  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }

  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  .sun {
    color: white;
    margin: 3px;
  }

  .moon {
    color: white;
    margin: 3px;
  }
}