@import '../common/constants';

.waitingComponent {
  width: 100%;
  height: calc(100% - #{$navbar-height});
  margin-top: $navbar-height;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #312e2b;
  z-index: 10;
  .text {
    font-family: inherit;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.69);
  }

  .innerCircle {
    background-color: transparent;
    border: 5px solid rgba(0, 255, 63, 0.6);
    opacity: .9;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    position: relative;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
  }

  @-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
  }
}