.Button {
  background: black;
  color: rgb(255, 255, 255);
  font-size: 19px;
  border-radius: 5px;
  border: none;

  &:active {
    background-color: #c2ceff;
    color: white;
    cursor: pointer;
  }

  &:hover {
    background-color: #ec1900;
    color: white;
    cursor: pointer;
  }
}