.SubmitButton {
  width: 250px;
  height: 47px;
  color: white;
  font-size: 16px;
  border: none;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: left;
  }
}

