@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';

.changePasswordPage {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin-top: $navbar-height;
  height: calc(100% - #{$navbar-height});
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    margin-top: 0;
  }
}

