@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';

.chartPage {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(105deg, rgba(86, 63, 255, 0.80), rgba(120, 180, 150, 1) 100%, #418dff);

  .chart {
    margin-top: 50px;
    width: 100%;
    height: calc(100% - 50px);

    @media (max-width: 600px) {
      margin: 0 auto;
      height: 100%;
    }

    @media (max-height: 600px) {
      width: 80%;
      margin: 0 auto;
      height: 100%;
    }


    @media (max-height: 400px) {
      width: 80%;
      margin: 0 auto;
    }
  }
}