@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';

.chartPage {
  display: flex;
  flex-direction: column;
  height: 100%;

  .emptyData {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1c1c1c55;
    color: #b1b1b1;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .dataRangeTextRow {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dataRangeText {
      font-size: 18px;
      color: #d0d0d0;
    }
  }
  .latestTextRow {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;

    font-family: 'Rubik', cursive;

    .title {
      font-size: 28px;
      padding: 8px 8px 8px 0;
      color: #d0d0d0;
    }
    .latestTextWrapper {
      width: 400px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 10px;

      @media (max-width: 600px) {
        width: 100%;
      }

      .latestCasesText {
        margin-top: 20px;
        color: #e7e7e7;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: left;

        .percent {
          font-size: 15px;
          width: 50px;
          margin-left: 20px;
          color: #ffffff;
        }
      }

      .latestCasesDateText {
        color: #e7e7e7;
      }
    }
  }
  .zoomRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80px;

    .chartWrapper {
      min-height: 80px;
      width: 100%;
      padding-top: 0;
      margin-top: 0;
    }
  }

  .chartWrapper {
    box-sizing: border-box;
    min-height: 450px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;

    .chart {
      box-sizing: border-box;
      width: 100%;
      height: 100%;

      /* Due to Echarts issues with additional canvas components */
      div:first-child {
        height: 100% !important;
        width: 100% !important;

        canvas {
          height: 100% !important;
          width: 100% !important;
        }
      }

      @media (max-width: 600px) {
        margin: 0 auto;
        height: 100%;
      }

      @media (max-height: 600px) {
        width: 80%;
        margin: 0 auto;
        height: 100%;
      }

      @media (max-height: 400px) {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}