@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';

.chartPage {
  display: flex;
  flex-direction: column;

  height: 100%;

  background: linear-gradient(105deg, rgba(86, 63, 255, 0.80), rgba(120, 180, 150, 1) 100%, #418dff);

  .latestTextWrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    @media (max-width: 600px) {
      margin: 0 auto;
    }

    @media (max-height: 600px) {
      margin: 0 auto;
    }

    .latestCasesText {
      font-size: 35px;
      color: #e7e7e7;
      text-align: center;
      font-family: 'Rubik', cursive;
      font-weight: bold;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .percent {
        margin-left: 10px;
        font-size: 15px;
        width: 50px;
        padding: 7px 10px;
        background: #2d2d2d;
        color: #ffffff;
        border-radius: 3px;
      }
    }

    .latestCasesDateText {
      margin-top: 10px;
      font-size: 25px;
      color: #e7e7e7;
      text-align: center;
      font-family: 'Rubik', cursive;
      font-weight: bold;
    }
  }

  .chartWrapper {
    flex: 1;
    overflow: hidden;

    .chart {
      margin-top: 50px;
      width: 100%;
      height: calc(100% - 50px);

      @media (max-width: 600px) {
        margin: 0 auto;
        height: 100%;
      }

      @media (max-height: 600px) {
        width: 80%;
        margin: 0 auto;
        height: 100%;
      }


      @media (max-height: 400px) {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}