@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';

.loginPage {
  overflow: hidden;
  width: 100%;
  margin-top: $navbar-height;
  height: calc(100% - #{$navbar-height});
  box-sizing: border-box;

  .wrapper {
    max-width: 1480px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

