
.notFound {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .notFoundCode {
    color: white;
    font-size: 60pt;
  }

  .notFoundText {
    margin-top: 20px;
    color: #c1c1c1;
    font-size: 13pt;
  }
}