@import '../common/fonts';
@import '../common/constants';

$color: rgb(0, 154, 255);
$color_path: yellow;

.PathfindingPage {
  border-radius: 10px;
  box-shadow: 20px 30px 20px 0 rgba(0,0,0,.4);
  margin: 100px;
  height: calc(100% - 200px);
  box-sizing: border-box;
  background: #312e2b;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  padding: 100px;

  .controlPanel {
    width: 50%;
    height: auto;

    border: 1px solid green;
    .button {
      width: 50px;
      height: 40px;
      margin: 15px;
    }
  }
}