@import '../common/responsive';
@import '../common/constants';
@import '../common/mixins';
@import '../common/theme';
@import '../common/fonts';

.settingsPage {
  width: 100%;
  margin-top: $navbar-height;
  height: calc(100% - #{$navbar-height});
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #b8b8b8;
  font-size: 30pt;

  .settingsWindow {
    border-radius: 6px;
    box-shadow: 20px 20px 20px 0 rgba(0,0,0,.4);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 600px;
    background: #323232;

    .left {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      width: 350px;
      background: #212121;

      .accountInfo {
        margin: 20px;
        align-items: center;

        display: flex;
        flex-direction: row;

        .profilePicture {
          border-radius: 100%;
        }

        .profileDetails {
          box-sizing: border-box;
          margin-left: 10px;

          .profileName {
            font-size: 16px;
            color: #eeeeee;
          }

          .profileEmail {
            margin-top: 10px;
            font-size: 12px;
            color: #777777;
          }
        }

        .cogWrapper {
          margin-left: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background: #333433;
          padding: 7px;
          border-radius: 8px;
          .cog {
            font-size: 15px;
            color: #9d9db6
          }
        }
      }

      .menuSection {
        padding-top: 50px;
        display: flex;
        flex-direction: column;

        .menuName {
          padding: 20px;
          font-size: 15px;
          color: #777777;
        }

        .menuItems {
          display: flex;
          flex-direction: column;

          .menuItem {
            display: flex;
            flex-direction: row;
            align-items: center;

            width: 95%;
            height: 60px;
            border-bottom: 1px solid #353535;

            &:hover {
              cursor: pointer;
              background: #ffffff11;

              .menuItemText {
                color: #d6d6d6;
              }
            }

            .iconWrapper {
              width: 25px;
              height: 25px;
              margin-left: 20px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;

              padding: 7px;
              border-radius: 12px;

              .icon {
                font-size: 15px;
                color: #ffffff
              }
            }

            .menuItemText {
              margin-left: 15px;
              font-size: 15px;
              color: #999999;
            }
          }
        }
      }
    }

    .right {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      .panel1 {
        flex: 1 0 auto;
        width: 100%;
        border-right: 1px solid #3b3b3b;

        .settingsList {
          padding: 0;
          margin: 0;
          list-style-type: none;

          .settingsItem {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            font-size: 12pt;
            padding-left: 10px;

            &:hover {
              cursor: pointer;
              background: #282828;
            }
          }
        }
      }

      .panel2 {
        height: 80px;
        align-items: center;
        justify-content: flex-end;
        display: flex;

        .saveSettingsButton {
          background: #262626;
          margin-right: 20px;
          border-radius: 4px;
          width: 170px;
          height: 40px;

          &:hover {
            background: #131313;
            background-size: 300% 300%;
          }
        }
      }
    }
  }
}