@import '../common/responsive';
@import '../common/constants';
@import '../common/theme';
@import '../common/fonts';


.sortPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #312e2b;

  @media (max-height: 400px) {
    flex-direction: row;
  }

  .left {
    margin-top: $navbar-height;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

    @media (max-height: 400px) {
      justify-content: unset;
    }

    .actions {
      padding: 10px;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;


      > * {
        margin: 5px;
      }

      .sampleCountSection {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: left;
        height: 50px;

        @media (max-width: 400px) {
          width: 100%;
        }

        .samplesTitle {
          display: flex;
          align-items: center;
          justify-content: left;
          height: 100%;
          width: 60px;

          .title {
            text-decoration: none;
            @include theme-aware('color', 'text-color');
            font-size: 17px;
            font-weight: 400;

            &:hover {
              cursor: auto;
            }
          }
        }

        .sampleInput {
          margin-left: 20px;

          .inputField {
            background: #303030;
            color: white;
          }

          @media (max-width: 400px) {
            flex: 1;

            input {
              width: 100%;
            }
          }
        }
      }

      .buttonsSection {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @media (max-height: 400px) {
          flex-direction: row;
          flex-wrap: nowrap;
        }

        .chartButton {
          @include theme-aware('background', 'sort-page-buttons-background');
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          padding: 0;
          width: 50px;
          height: 50px;
          font-size: 16px;
          line-height: 35px;
          color: #9B9B9B;
          border-radius: 3px;

          &:active {
            outline: none;
          }

          &:focus {
            outline: none;
          }
        }

        .playButton {
          margin-left: 10px;
        }

        .chartButton.enabled {

          .Text {
            color: white;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .chartButton.disabled {
          @include theme-aware('background', 'sort-page-buttons-disabled-background');

          .Text {
            color: rgba(255, 255, 255, 0.34);
          }

          img {
            opacity: 0.3;
          }
        }

        .stopButton {
          margin-left: 10px;
        }
      }
    }
  }

  .chart {
    margin-top: $navbar-height;
    transform: scale(0.75);
    min-height: 0;
    @media (min-width: 1200px) {
      min-width: 800px;
    }

    flex: 1;
    box-sizing: border-box;
  }
}


