.sortPage {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;

  .actions {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 0 1 70px;
    background: #1c1c1c;

    .textContainer {
      width: 100px;
      min-width: 80px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
    }

    .title {
      font-family: "Lato", Helvetica, Arial, sans-serif;
      text-decoration: none;
      color: #9B9B9B;
      font-size: 17px;
      font-weight: 400;

      &:hover {
        cursor: auto;
      }
    }

    .sampleCountSection {
      margin: 5px;
      display: flex;
      box-sizing: border-box;
      width: 310px;
      align-items: center;
      justify-content: left;
      opacity: 0.5;

      .input-field {
        flex: 1 1 10px;
        .input {
          width: calc(100% - 5px - 10px);
          margin: 0;
        }
      }
    }

    .buttonsSection {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      margin-bottom: 5px;
    }

    .sorting-algorithm-select {
      min-width: 300px;
      height: 50px;
      width: 310px;
      margin: 5px;
      .options-view-button {
        border: none;
        padding: 0;
      }
    }

    .line-break {
      width: 100%;
    }

    .chartButton {
      display: inline-block;
      position: relative;

      width: 150px;
      height: 50px;
      font-size: 16px;
      line-height: 35px;
      padding: 0 0 0 20px;
      background: #252525;
      color: #9B9B9B;
      border-radius: 5px;
      margin-left: 5px;
      margin-top: 5px;

      &:active {
        outline: none;
      }

      &:focus {
        outline: none;
      }

      img {
        position: absolute;
        right: 15px;
      }
    }

    .playButton {
      margin-left: 10px;
    }

    .chartButton.enabled {

      .Text {
        color: white;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .chartButton.disabled {
      background: #1a1a1acc;

      .Text {
        color: rgba(255, 255, 255, 0.34);
      }

      img {
        opacity: 0.3;
      }
    }

    .stopButton {
      width: 40px;

      img {
        position: absolute;
        right: 14px;
      }
    }
  }

  .chart {
    min-height: 0;
    flex: 1;
    background: #1c1c1c;
  }
}


