.algorithmSelection {
  width: 50%;
}

.chartButton {
  width: 150px;
  height: 47px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 3px;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.chartButton.enabled {
  background: rgba(0, 0, 0, 0.3);

  .Text {
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

.chartButton.disabled {
  background: rgba(0, 0, 0, 0.1);

  .Text {
    color: rgba(255, 255, 255, 0.44);
  }
}
