$bcg: #232323;

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: $bcg;
}

body {
  height: 100%;
  margin: 0;

  .root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;

    .navbar {
      min-height: 100px;
      flex: 0 1 100px;
    }

    .page {
      flex: 1 1 auto;
    }

    .footer {
      flex: 0 1 50px;
      display: flex;
      align-items: center;
      justify-content: right;
    }
  }
}