.changePasswordComponent {

  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .form {
    @media (min-width: 600px) {
      width: 380px;
      position: relative;
      border-radius: 5px;
    }

    @media (max-width: 600px) {
      width: 100%;
    }

    background: rgb(54, 57, 63);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px 30px 30px;

    .needAccount {
      margin-top: 15px;
      margin-left: 5px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: row;

      .needAccountText {
        color: #d2d2d2;
        font-size: 11pt;
      }

      .registerLink {
        margin-left: 5px;
        color: #4fa5de;
        font-size: 11pt;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .forgotPassword {
      margin-top: 10px;
      color: #4fa5de;
      font-size: 11pt;
      margin-left: 10px;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }

    .errorWrapper {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .errorIcon {
        color: rgb(186, 47, 47);
      }

      .errorText {
        margin-left: 10px;
        font-size: 12px;
        color: rgb(186, 47, 47);
      }
    }

    .input {
      margin-top: 10px;
      width: 100%;
      background: #25272d;

      .inputField {
        background: none;
        color: white;
      }
    }

    .input.noError {
      border: none;
      border-radius: 5px;
    }

    .formTitle {
      font-size: 20px;
      color: #c1c1c1;
    }

    .formDescription {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      color: #9b9b9b;
    }

    .buttonGroup {
      width: 100%;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .button {
        width: 100%;
        height: 44px;
        font-size: 16px;
        border-radius: 3px;
        background: #015C95;
        border: none;

        .content {
          .text {
            color: white;
          }
        }

        &:hover {
          background: lighten(#015C95, 5%);
        }
      }
    }
  }
}