@import "../style/responsive";


.testPage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.containerMain {
    height: 100%;

    .gridMainRegistration {
        @include responsive_width(95%, 350px, 350px, 380px, 380px);
    }

    .gridMainRegistrationComplete {
        @include responsive_width(95%, 700px, 600px, 600px, 600px);
    }
}