.Button {
  background: black;
  width: 80%;
  height: 50px;
  line-height: 50px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 19px;
  margin: 20px 15px 15px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;

  &:active {
    background-color: #c2ceff;
    color: white;
    cursor: pointer;
  }

  &:hover {
    background-color: #ec1900;
    color: white;
    cursor: pointer;
  }
}