.SubmitButton {
  background: #000000;
  width: 250px;
  height: 47px;
  color: white;
  font-size: 16px;
  border: none;

  &:hover {
    background: #2878ed;
    cursor: pointer;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}