$break-small: 400px;

body {
  margin: 0;
}

.pageComponents {
  margin-top: 100px;
  width: 100%;

  .sortingAlgorithmSelection {
    margin: auto;
  }

  .actionButtons {

    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;

    @media screen and (max-width: $break-small) {
      margin: 150px auto 50px;
      width: 150px;
    }

    .shuffleButton {

      @media screen and (min-width: $break-small) {
        margin-left: 10px;
      }

      @media screen and (max-width: $break-small) {
        display: block;
        margin-top: 10px;
      }
    }

    .chartButton {
      width: 150px;
      height: 47px;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 3px;

      @media screen and (max-width: $break-small) {
        display: block;
      }

      &:active {
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }

    .chartButton.enabled {
      background: rgba(0, 0, 0, 0.3);

      .Text {
        color: white;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .chartButton.disabled {
      background: rgba(0, 0, 0, 0.1);

      .Text {
        color: rgba(255, 255, 255, 0.44);
      }
    }

  }
}




