.loader {
    width: 25px;
    height: 25px;
    border: 4px solid rgba(255, 255, 255, 0);
    border-bottom-color: #FF3D00;
    border-left-color: #FF3D00;
    border-radius: 80%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}