.navbar-item {
  @include disable_mobile_tap_color();
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 18px;
  color: #cdcdcd;
  text-decoration: none;

  .iconComponent {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;

    &:hover {
      background: none;
    }
  }

  .navbar-item-icon {
    margin-left: 15px;
    box-sizing: border-box;
  }

  &:hover {
    cursor: pointer;
  }
}