html{
  background: url("https://s14.postimg.cc/5sifxmmxt/hero_yosemite.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}