@import "common/constants";

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: $bcg;
}

body {
  height: 100%;
  margin: 0;

  .root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;

    .navbar {
      min-height: $navbar-height;
      flex: 0 1 $navbar-height;
    }

    .page {
      min-height: 0;
      flex: 1;
    }

    .footer {
      position: absolute;
      bottom: 0;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: right;
    }
  }
}

.Toastify__toast--error {
  background: #ad0f00;
}