@import "../../common/responsive";

$textcolor: #424242;

.loginFormContentGrid {

  width: 100%;
  background: white;
  border-radius: 5px;

  .title {
    width: 100%;
    text-align: center;
    color: $textcolor;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  input, select, textarea {
    color: #7a7a7a !important;
  }

  .emailUsernameField, .passwordField {

    margin-left: 10px;
    margin-right: 10px;

    // Remove autofill color change
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }


    input {
      background-color: #ffffff;
      height: 50px;
      width: 100%;
      border-radius: 10px;
      color: #8c8c8c;
      padding: 15px;
      line-height: 50px;
      vertical-align: center;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      margin-top: 10px;
      border: 1px solid #c6c6c6;

      &:focus {
        outline: none;
      }
    }
  }

  .rememberForgot {
    width: 100%;
    box-sizing: border-box;
    display: flex;

    .forget {
      width: 200px;
      box-sizing: border-box;


      .forgotPasswordLink {
        line-height: 26px;
        justify-content: center;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #424242;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .signIn {
    .signInButton {
      background: #003E71;
      width: 300px;
      height: 47px;
      margin: 30px 0 30px 0;
      border-radius: 12px;
      color: white;
      font-size: 16px;
      border: none;

      &:hover {
        border: 1px solid #2f9dff;
      }

      &:active {
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .bottomSection {
    background: #ffffff;
    width: 100%;
    border-radius: 13px 13px 25px 25px;
    border: none;
    padding: 0 30px 30px;
  }

  .createAccount {

    width: 100%;
    text-align: center;

    a {
      line-height: 25px;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      font-size: 18px;
      color: black;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .field {
    width: 100%;
  }

  @media (min-width: 400px) {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
  }
}