$textcolor: #424242;

.checkbox {
  width: 100%;
  box-sizing: border-box;
  display: flex;

  .checkboxInput[type="checkbox"] {
    width: 0;
    height: 0;
    margin: 0;
    position: relative;
    top: calc(50% - 13px);
    background: white;
    cursor: pointer;
    float: left;

    &:focus {
      outline: none;
    }

    &:before {
      display: inline-block;
      box-sizing: border-box;
      width: 26px;
      height: 26px;
      content: "";
      background: rgba(255, 255, 255, 0.19);
      border: 1px solid #0084ff;
      border-radius: 4px;
    }

    &:not(:checked):hover:before {
      cursor: pointer;
    }


    &:checked:before {
      opacity: 1;
      background: #0084ff url("../../images/checkmark.png") center no-repeat;
      background-size: 70%;
      transform: scale(1);
    }

    &:not(:checked):before:hover {
      background: #0084ff;
    }
  }

  .checkboxText {
    text-align: center;
    padding-left: 40px;
    line-height: 26px;
    font-size: 15px;
    color: $textcolor;
    font-family: 'Open Sans', sans-serif;
  }
}